body {
    font-family: Arial, sans-serif;;
}

header {
    background-color: #f2f5f8;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 100%;
    max-width: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    height: 35px;
    width: 100px;
    cursor: pointer;
}

.about {
    color: #000;
    border: #888;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
}

.product {
    color: #000;
    border: #888;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
}

.sign-up {
    background-color: #0066ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.sign-up:hover {
    background-color: #0056cc;
}

.banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin-top: 20px;
}

.banner {
    display: flex;
    align-items: center;
    width: 95%;
    background-color: #f0f0f0;
    margin:  20px 0;
    padding: 2px;
    border-radius: 10px;
    transition: transform 1s, width 0.5s;
    overflow: hidden;
    transform: translateX(-100%);
}

.banner img.logopng {
    width: 90px;
    height: 75px;
    margin-right: 15px;
    margin-left: 2px;
}

.banner-content {
    display: flex;
    flex-direction: column;
}

.short {
    display: nine;
}

.long {
    display: none;
}

.banner:hover {
    width: 100%;
}

.banner:hover .short {
    display: block;
}

.banner:hover .long {
    display: block;
}