body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
    
}

.sidebar {
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    left: -250px;
    transition: left 0.3s;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #444;
}

.sidebar-header h2 {
    margin: 0;
}

.sidebar-header button {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.main-content {
    flex-grow: 1;
    transition: margin-left 0.3s;
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #27971df3;
}

.header button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.content {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.info-card, .stats-card, .trending-card {
    background-color: #ccc;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    flex-basis: calc(33.333% - 40px);
    box-sizing: border-box;
}

.trending-card {
    background-color: #b3e6b3;
}

.icons {
    display: flex;
    justify-content: space-around;
    flex-basis: 100%;
    padding: 20px;
}

.icon {
    font-size: 50px;
}

/* Sidebar open state */
.sidebar-open .sidebar {
    left: 0;
}

.sidebar-open .main-content {
    margin-left: 250px;
}
