body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
}
header {
    background-color: #f2f5f8;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a, header h1 {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header h1 {
    float: left;
}
nav {
    float: right;
    margin-top: 10px;
}
nav a {
    margin: 0 15px;
}
.main {
    margin-top: 30px;
}
.section {
    background: #fff;
    margin: 15px 0;
    padding: 15px;
    border: #ccc 1px solid;
}
.section h2 {
    margin-top: 0;
}

.logo img {
    width: 100px;
    height: 35px; 
}

nav.rightSide {
    display: flex;
    gap: 20px; 
}

nav.rightSide span {
    cursor: pointer;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

nav.rightSide span:hover {
    background-color: #f0f0f0;
}