.logo img {
    width: 100px;
    height: 35px; 
}

header {
    background-color: #f2f5f8;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 100%;
    max-width: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.about {
    color: #000;
    border: #888;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
}

main {
    padding: 20px;
}

section {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

nav.rightSide {
    display: flex;
    gap: 20px; 
}

nav.rightSide span {
    cursor: pointer;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

nav.rightSide span:hover {
    background-color: #f0f0f0;
}

