body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #f2f5f8;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 100%;
    max-width: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    margin: 20px;
}
.section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.section h2 {
    margin-top: 0;
}
.button-container {
    margin-bottom: 20px;
}
.button-container button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.button-container button:hover {
    background-color: #45a049;
}
.queue-item, .recent-item, .notification-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.queue-item:last-child, .recent-item:last-child, .notification-item:last-child {
    border-bottom: none;
}
.queue-item button, .recent-item button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
.queue-item button:hover, .recent-item button:hover {
    background-color: #0056b3;
}

.logo img {
    width: 100px;
    height: 35px; 
}

main {
    padding: 20px;
}

section {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

nav.rightSide {
    display: flex;
    gap: 20px; 
}

nav.rightSide span {
    cursor: pointer;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

nav.rightSide span:hover {
    background-color: #f0f0f0;
}
