body {
    margin: 0;
    font-family: Arial, sans-serif;
    transition: filter 0.3s;
    background-image: url('/Images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

p {
    text-align: center;
}

header {
    background-color: #f2f5f8;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 40px;
}

h2 {
    text-align: center;
}

.container {
    width: 100%;
    max-width: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

.about {
    color: #000;
    border: #888;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
}

.product {
    color: #000;
    border: #888;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
}

.part {
    color: #000;
    border: #888;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
}

.sign-up {
    background-color: #0066ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.sign-up:hover {
    background-color: #0056cc;
}

main {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

<<<<<<<<< Temporary merge branch 1
/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #dbe7d0;
    padding: 20px;
    border: 1px solid #888;
    width: 330px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    justify-content: center;
}

.enter {
    position: absolute;
    left:  10px;
    top: 10px;
    color: #000;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
}

.modal-content h2 {
    color: #6a7d8a;
    font-size: 20px;
    margin: 0 0 10px;
}

.modal-content p {
    margin: 0 0 20px;
    margin-top: 10px;
}

.modal-content form {
    width: 310px;
}

.name-container {
    display: flex;
    justify-content: space-between;
    width: 330px;
}

.modal-content input[type="textF"] {
    width: 160;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 5px;
}

.modal-content input[type="textL"] {
    width: 160;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-left: 5px;
}

.modal-content input[type="email"],
.modal-content input[type="text"],
.modal-content input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.name-container input[type="textF"], .modal-content input[type="textL"] {
    width: calc(50% - 10px);
}

.modal-content button {
    background-color: #80a8d9;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.modal-content button:hover {
    background-color: #6190d1;
}

.modal-content a {
    color: #0033cc;
    text-decoration: none;
}

.modal-content a:hover {
    text-decoration: underline;
}

.google-button {
    background-color: #fff;
    color: #000;
    border: 1px solid #ddd;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
}

.google-button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.features {
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    padding: 20px;
    justify-content: space-between;
    margin-top: auto;
}
=========
>>>>>>>>> Temporary merge branch 2

.feature-box {
    background-color: #007bff;
    color: white;
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    text-align: center;
}

.feature-box h3 {
    margin-bottom: 15px;
}

.feature-box p {
    margin: 0;
}

.logo img {
    width: 100px;
    height: 35px; 
}
